/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* globals */

body{
    font-family: 'Merriweather';
    font-size: 16px;
    h1, h2{
        font-family: '.';
    }

    a:link {
        text-decoration: none;
      }
      a:link {
        color: white;
      }

      a:visited {
        color: white;
      }

      a:hover, a:active {
        color: #d99054;
      }

      
      


}


.site {
    max-width: 100%;
    margin: 0 auto;
}



.site-header {
    
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
  
  
  .site-branding{
    @include container;
    display: flex;
    justify-content: space-between;
    .logo{
        height: 33px;
  .custom-logo {
      width: 50px;
      height: 33px;
  }
}
   
    
  .main-navigation {
    font-family: $font__code;
    font-size: .8rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;

   
        
        
    }
    
    .menu-item {
      padding: 0 12px;
    }
  }
  }





.site-content {
    background-color: purple;
    @include container;
    display: flex;
    .content-area{
        width: 817.61px;
        padding-top: 90px;
        padding-right: 56px;
        background-color:blue;
        
    }
 
    .widget-area{
        width: 302.39px;
        padding-top: 90px;
        padding-left: 56px;
        background-color: yellow;
        h2 {
            margin-bottom: 24px;
            text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 900;
        }
        .bold{
            font-weight: bold;
        }
    }
}



.site-footer {
    background-image: url('../../images/dark-wood.png');    
    margin: 0 auto;
   
.footer-content-container {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    h3 {
        margin-bottom: 24px;
        font-family: '.';
        color: #d99054;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 900;
    }
    
    p {
        color: white;
    }
    .contact{
        
        flex-basis: 25%;
        margin: 3rem 0;
    }
    .business-hours{
        
        flex-basis: 25%;
        margin: 3rem 0;
    }
    .text-logo{
       
        flex-basis: 50%;
        margin: 3rem 0;
        padding-left: 280px;
        img {
            width: 280px;
            height: 50px;
        }
     } 
     .site-info{
        
        margin: 0 auto;
    }

}
}













/* Front page */

.page-id-30 {

.site-content {
    width: 100%;
.main-image{
    width: 1899px;
    height: 943px;
    position: relative;

}



.wp-image-98 {
    position: absolute;
    right: 40vw; 
    top: 50vh;
}


.main-content{
    @include container;
    h2 {
        text-align: center;
        font-family: '.';
        font-weight: 400px;
        font-size: 2.4rem;
    }
    }

    .journal-container {
        @include container;
        display: flex;
        justify-content: space-between;

        .journal-thumbnail-wrapper{
            width: 366px;
            border: 1px solid;
         img{   width: 365.7px;
            height: 250px;}

            .frontpage-entry-meta {
                padding: 12px;
                color: black;
                a:link {
                    color:#248A83;
                  }
            
                  a:visited {
                    color:#248A83;
                  }
                  a:hover, a:active {
                    color: black;
                  }

                
                .read-button {
                    background-color: white;
                    color: black;
                    padding: 12px 24px;
                    width: 113px;
                    a:link {
                        color:white;
                      }
                    
                    }
            }
        }
    }
 
 }

}

    

    






/* About page */

.page-id-85 {
    .entry-title{
        
        font-size: 3rem;
        font-weight: bold;
        margin: 0;
        
        position: absolute;
        right: 50vw; 
        top: -50vh; 
    }
    .site-content{
        
        width: 100%;
        .content-area{
            width: 100%;
            padding: 0 0 0 0;
            
        }
    }

.about-image{
    width: 100vw;
    height: 100vh;
    position: relative;
}



.entry-content {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        h2{
            text-align: center;
            font-family: 'Merriweather Web';
        }
    
}


}

/* Journal page */


.journal-posts {
    .entry-header {

    position: relative;

img { 
    width: 760.600px;
    height: 520.234px;
    
    
}
    }

.entry-title-post{
    background-color: #248a83;
    color: white;
    font-family: 'novecento_sans_widedemibold';
    position: absolute;
    font-size: 2rem;
    width: 500px;
    padding: .75rem 1.5rem;
    text-align: left;
    top: 50px;
}  

.entry-meta {
    background-color: #248a83;
    color: white;
    position: absolute;
    bottom: 7px;
    right: 1px;
}
    } 


    /* single posts */

    .entry-header {

        position: relative;
    
    img { 
        width: 760.600px;
        height: 520.234px;
        
        
    }
        }
    
    .entry-title{
        background-color: #248a83;
        color: white;
        position: absolute;
        font-size: 2rem;
        width: 500px;
        padding: .75rem 1.5rem;
        text-align: left;
        top: 50px;
    }  
    
    .entry-meta {
        background-color: #248a83;
        color: white;
        position: absolute;
        bottom: 7px;
        right: 1px;
        
    }


    /* find us */

    .page-id-66 {
        h2 {
            margin-bottom: 24px;
            text-transform: uppercase;
            font-size: 2.1rem;
            font-weight: 900;
        }

        .required {
            color: #d99054;
        }
        .entry-title {
            color: white;
            font-size: 2rem;
            width: 500px;
            padding: .75rem 1.5rem;
            text-align: left;
            top: 50px;
        }  
    }
        
    






/* Custom template */








        
    
    

   


    


