@font-face {
    font-family: '.';
    src: url('80422061b259c33e9419d252ba43e9ce.eot');
    src: url('80422061b259c33e9419d252ba43e9ce.eot?#iefix') format('embedded-opentype'),
        url('80422061b259c33e9419d252ba43e9ce.woff2') format('woff2'),
        url('80422061b259c33e9419d252ba43e9ce.woff') format('woff'),
        url('80422061b259c33e9419d252ba43e9ce.ttf') format('truetype'),
        url('80422061b259c33e9419d252ba43e9ce.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('89b3c5f219aa353e842cae880b95a558.eot');
    src: url('89b3c5f219aa353e842cae880b95a558.eot?#iefix') format('embedded-opentype'),
        url('89b3c5f219aa353e842cae880b95a558.woff2') format('woff2'),
        url('89b3c5f219aa353e842cae880b95a558.woff') format('woff'),
        url('89b3c5f219aa353e842cae880b95a558.ttf') format('truetype'),
        url('89b3c5f219aa353e842cae880b95a558.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('novecento_sans_widedemibold.eot');
    src: url('novecento_sans_widedemibold.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widedemibold.woff2') format('woff2'),
        url('novecento_sans_widedemibold.woff') format('woff'),
        url('novecento_sans_widedemibold.ttf') format('truetype'),
        url('novecento_sans_widedemibold.svg#novecento_sans_widedemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widenormal';
    src: url('novecento_sans_widenormal.eot');
    src: url('novecento_sans_widenormal.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widenormal.woff2') format('woff2'),
        url('novecento_sans_widenormal.woff') format('woff'),
        url('novecento_sans_widenormal.ttf') format('truetype'),
        url('novecento_sans_widenormal.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('32da7c752c2ad59372bb5925631dd22b.eot');
    src: url('32da7c752c2ad59372bb5925631dd22b.eot?#iefix') format('embedded-opentype'),
        url('32da7c752c2ad59372bb5925631dd22b.woff2') format('woff2'),
        url('32da7c752c2ad59372bb5925631dd22b.woff') format('woff'),
        url('32da7c752c2ad59372bb5925631dd22b.ttf') format('truetype'),
        url('32da7c752c2ad59372bb5925631dd22b.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('aab804c83ad095d5e09ae31120f1c130.eot');
    src: url('aab804c83ad095d5e09ae31120f1c130.eot?#iefix') format('embedded-opentype'),
        url('aab804c83ad095d5e09ae31120f1c130.woff2') format('woff2'),
        url('aab804c83ad095d5e09ae31120f1c130.woff') format('woff'),
        url('aab804c83ad095d5e09ae31120f1c130.ttf') format('truetype'),
        url('aab804c83ad095d5e09ae31120f1c130.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('ec3f4cbc43589400a9164a1975718866.eot');
    src: url('ec3f4cbc43589400a9164a1975718866.eot?#iefix') format('embedded-opentype'),
        url('ec3f4cbc43589400a9164a1975718866.woff2') format('woff2'),
        url('ec3f4cbc43589400a9164a1975718866.woff') format('woff'),
        url('ec3f4cbc43589400a9164a1975718866.ttf') format('truetype'),
        url('ec3f4cbc43589400a9164a1975718866.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('19ba1cd0f7c9864eeefa1c7d3995e16e.eot');
    src: url('19ba1cd0f7c9864eeefa1c7d3995e16e.eot?#iefix') format('embedded-opentype'),
        url('19ba1cd0f7c9864eeefa1c7d3995e16e.woff2') format('woff2'),
        url('19ba1cd0f7c9864eeefa1c7d3995e16e.woff') format('woff'),
        url('19ba1cd0f7c9864eeefa1c7d3995e16e.ttf') format('truetype'),
        url('19ba1cd0f7c9864eeefa1c7d3995e16e.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

